.sidenav {
    background-color: #FF9933;
    width: 200px;

}

.sidenav a {
    color: #FFFF
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
    
}